{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img width="24px" height="24px" src="/svg/header_back.svg">
        </button>
        <button class="button">
            <img width="24px" height="24px" src="/img/header_avatar.png">
        </button>
    </header>

    <h1 class="title">Коммьюніті</h1> --}}

    {{!-- <div class="header">
        <button class="button menu menu--viewed">База знань</button>
        <button class="button menu">Інформація</button>
    </div> --}}

    {{!-- <main class="comunity">

        <img class="img__comunity" src="/img/comunity 1.png">

        <div class="post button">
            <p class="post__info--title">Що таке база знань?</p>

            <p class="post__info--comunity">База знаний — база данных, содержащая правила вывода и информацию о
                человеческом опыте
                и знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит
                информацию, являющуюся результатом решения предыдущих задач.</p>

        </div>

        <button class="button__bottom--comunity">Перейти до ком'юніті у Телеграм</button>

    </main> --}}
</div>



{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}