.page {
	padding: 24px;
	max-width: 420px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	gap: 12px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.button {
	transition: opacity 0.7s;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}

.button__bottom--comunity {
	width: 100%;
	color: #fff;
	padding: 16px 0;
	background-color: #F46F17;
	font-size: 14px;
	border-radius: 10px;


	transition: opacity 0.7s;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}

.title {
	font-size: 24px;
	color: #121212;
}

.post__list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.post {
	padding: 12px;
	border-radius: 10px;
	background-color: #f7f7f7;
	border: 1px solid #f7f7f7;

	display: flex;
	flex-direction: column;
	gap: 12px;

	&--viewed {
		background-color: transparent;
		border-color: #e6e6e6;

		.post__info {
			color: #888888;
		}
	}
}

.menu {
	padding: 12px;	
	width: 50%;
	background-color: #f7f7f7;
	border-bottom: 2px solid #121212;

	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 24px 0 12px 0;
	// gap: 12px;

	&--viewed {
		background-color: transparent;
		border-color: #e6e6e6;
		font-weight: bold;
	
	}
}

.post__header {
	display: flex;
	justify-content: space-between;
}

.post__category-list {
	display: flex;
	gap: 8px;
}

.post__date {
	color: #888888;
	font-size: 14px;	
} 

.post__info {
	font-size: 16px;
	line-height: 1.4em;
	color: #121212;
}

.post__info--comunity {
	font-size: 14px;
	line-height: 1.5em;
	color: #363636;
}

.post__info--title {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.4em;
	color: #121212;
}

.post__category {
	padding: 8px 12px;
	font-size: 12px;
	border-radius: 50px;

	&--1 {
		color: #F46F17;
		background-color: #F7E9E1;
	}
	
	&--2 {
		color: #EF5DA8;
		background-color: #F6E8EF;
	}
}

.comunity {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

